[Desktop Entry]
Encoding=UTF-8
Name=Link to http://3.bp.blogspot.com/-GghM5AwGqPY/UKfvYfB7IaI/AAAAAAAAEsA/kQBHNXfLG0g/s1600/Triangle_Neon_by_Clank010101.png
Type=Link
URL=http://3.bp.blogspot.com/-GghM5AwGqPY/UKfvYfB7IaI/AAAAAAAAEsA/kQBHNXfLG0g/s1600/Triangle_Neon_by_Clank010101.png
Icon=image-png
